.header{
    width: 100vw;
    height: 5vh;
    background-color: var(#{--body-background-default});
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.change__theme {
    margin-right: 20px;
    cursor: pointer;
}
