@font-face {
	font-family: 'Comfortaa';
	src: url('./fonts/comfortaa.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/comfortaa.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/comfortaa.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/comfortaa.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/comfortaa.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/comfortaa.svg#comfortaa') format('svg'); /* Chrome < 4, Legacy iOS */
}