.wrapper__popup{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 10001;
    
}
.popup__dash{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    
    padding: 10px;
    background-color: lightblue;
    position: relative;
    margin: 0 auto;
    top: 25%;
}
.popup__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.popup__inputs {
    display: flex;
    justify-content: space-around;
}