@import "../../styled/variables.scss";

$small: 321px;
$large: 1025px;

@mixin respond-to($media) {
    @if $media == mobile {
        @media only screen and (min-width: $small) and (max-width: $large) {
            @content;
        }
    }
}

.wrapper__popup__mobile {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 10001;
}
.popup__dash__mobile {
    width: 50%;
    height: 50%;
    display: flex;

    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    background-color: var(#{--components-background-default});
    position: relative;
    margin: 0 auto;
    top: 25%;
    @include respond-to(mobile) {
        all: initial;
        display: flex;
        height: 75%;
        flex-direction: column;
        border-radius: 20px;
        padding: 10px;
        background-color: var(#{--components-background-default});
        position: relative;
        margin: 0 auto;
        top: 5%;
        min-height: 75%;
    }
}
.text-field__input__mobile {
    &:focus {
        outline: none;
    }

    width: 40%;
    outline: 0;
    border-width: 0 0 2px;
    height: 2rem;
    background-color: var(#{--card-background-default});
    color: var(#{--text-color-default});
    border-color: #000000;
    border-radius: 10px 10px 0 0;
    padding: 1rem;
    @include respond-to(mobile) {
        padding: 1.5rem;
        width: 80%;
        margin-bottom: 2%;
    }
}
.text-field__textarea__mobile {
    &:focus {
        outline: none;
    }
    border: none;
    border-radius: 10px 10px 0 0;
    background-color: var(#{--card-background-default});
    color: var(#{--text-color-default});
    padding: 1rem;
    resize: none;
    height: 100%;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: var(#{--component-background-default});
        border-radius: 12px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 12px;
        background-color: var(#{--body-background-default});
    }
    @include respond-to(mobile) {
        padding: 1.5rem;
        height: 60%;
        margin-bottom: 1%;
    }
}
.text-field__input__list__mobile {
    background-color: var(#{--card-background-default});
}

.popup__title__mobile {
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: $primary-color;
    font-family: "Comfortaa";
}

.popup__content__mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.popup__content__inputs__mobile {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
    @include respond-to(mobile) {
        flex-direction: column;
        align-items: center;
    }
}

.popup__button__mobile {
    border-radius: 0 0 10px 10px;
    outline: none;
    padding: 5px;
    font-size: large;
    background-color: $primary-color;
    border: none;
    color: var(#{--text-color-default});
    cursor: pointer;
    font-family: "Comfortaa";
    &:active {
        animation: add_button 1s;
    }
    @include respond-to(mobile) {
        height: 50%;
        width: 60%;
    }
}

.arrowWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
   
}

@keyframes add_button {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.8);
    }
}
