@import "./styled/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  background-color: var(#{--components-background-default});
}
.board__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.board {
  transition: 0.5s;
  min-width: 300px;
  min-height: 400px;
  border: 5px solid var(#{--card-background-default});
  padding: 30px 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  max-width: 300px;
  overflow-y: auto;
  background-color: var(#{--card-background-default});
  box-shadow: var(#{--card-shadow-default});
}

.board__title {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  color: var(#{--text-color-default});
  user-select: none;
  --ms-user-select: none;

  /**
             * Для мозилы
             */
  --moz-user-select: none;

  /**
             * Для конкверора
             */
  --khtml-user-select: none;

  /**
             * Для Сафари и Хрома
             */
  --webkit-user-select: none;
}
.board__input {
  font-size: 0.8rem;
  padding: 5px;
}

.item {
  transition: 0.5s;
  width: 100%;
  border: 2px solid var(#{--components-background-default});
  padding: 10px;
  border-radius: 10px;
  cursor: grab;
  margin: 5px 0;
  background-color: var(#{--components-background-default});
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(#{--text-color-default});

  label {
    cursor: pointer;
    font-size: large;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;

    border-radius: 5px;
    padding: 0 5px;
    &:hover {
      background-color: black;
      color: lightgray;
    }
  }
}
.item__text {
  overflow: hidden;
  max-width: 80%;
}
.add__task {
  border-radius: 12px;
  width: 25px;
  height: 25px;
  margin: 5px;
  padding: 2px;
  font-size: medium;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  background-color: $primary-color;
  color: var(#{--text-color-default});
  transition: 0.5s;
}
.add__task__click {
  @extend .add__task;
  animation: shadow_wather_circle 0.4s;
}

@keyframes shadow_wather_circle {
  from {
    -webkit-box-shadow: 0px 0px 10px 2px rgba($primary-color, 0.2);
    -moz-box-shadow: 0px 0px 10px 2px rgba($primary-color, 0.2);
    box-shadow: 0px 0px 10px 2px rgba($primary-color, 0.2);
  }

  50% {
    -webkit-box-shadow: 0px 0px 20px 14px rgba($primary-color, 0.2);
    -moz-box-shadow: 0px 0px 20px 14px rgba($primary-color, 0.2);
    box-shadow: 0px 0px 20px 14px rgba($primary-color, 0.2);
  }

  to {
    -webkit-box-shadow: 0px 0px 10px 2px rgba($primary-color, 0.2);
    -moz-box-shadow: 0px 0px 10px 2px rgba($primary-color, 0.2);
    box-shadow: 0px 0px 10px 2px rgba($primary-color, 0.2);
  }
}
